<h1><center>UW STEMsub ML Homework 2</center></h1>
<center><b>Instructor:</b> Amanda Worthy</center>
<center><b>Student:</b> INSERT NAME HERE</center>
<center><b>Date:</b> July 16th, 2024</center>

## Homework 2: Regression

In [54]:
# Import Packages 
import pandas as pd
import seaborn as sn
import plotly.express as px
import numpy as np
import matplotlib.pyplot as plt
import fiona
import pyproj
import os
import requests
import matplotlib.ticker as ticker
import glob
import openpyxl
import gdown

## We will explore regression using the energy consumption dataset ('UW_building_energy.csv')

In [56]:
## NOTE: MAKE SURE YOU RUN THIS CELL

# Lets import the data from my google drive
# I am using this for sharing purposes, we can also import datasets on our own

#https://drive.google.com/file/d/1BO-YCiSkgy_fJlqgK5kZdFdNzSKLJ_St/view?usp=sharing

!gdown --id 1BO-YCiSkgy_fJlqgK5kZdFdNzSKLJ_St #this is a bash command, you are welcome to read more about them!

/Users/amandaworthy/opt/anaconda3/envs/uwgda2022/lib/python3.9/site-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1BO-YCiSkgy_fJlqgK5kZdFdNzSKLJ_St
To: /Users/amandaworthy/2024_STEMsub/Week2/UW_building_energy.csv
100%|██████████████████████████████████████| 15.5k/15.5k [00:00<00:00, 9.95MB/s]

In [57]:
! ls


# IF IT WORKED 'UW_building_energy.csv' will show up

BigFoot.csv                           README.md
Credit.csv                            Regression_house_prices.ipynb
Exploratory_Analysis_In_Pandas.ipynb  Regression_house_prices_ANSWERS.ipynb
Homework 1.ipynb                      UW_building_energy.csv
Homework_2_Regression.ipynb           home_data.csv

In [58]:
# Load in the data and preview it

#use pd.read_csv('') and .head on the imported dataset 

df= pd.read_csv('UW_building_energy.csv')  

df

,Energy_Use_kWh,Height,Year_Built,Longitude,Latitude,Name,Area_m,Occupants,apartments,parking,stadium,university,utility,warehouse,Building_Length_m,Orientation (degrees north),Relative Compactness,Tree_Canopy,Land_Surface_Temp
0,1.370845e+06,21.38,1966,-122.312915,47.649894,Marine Sciences,5534.231710,297.741666,0,0,0,1,0,0,146,47,0.03,0,25.048282
1,1.609484e+06,21.16,1969,-122.312300,47.650258,Ocean Teach Building,4789.335456,257.666247,0,0,0,1,0,0,163,143,0.03,21,26.473881
2,2.460280e+06,24.35,1999,-122.316275,47.653158,Fishery Sciences,12105.911220,651.298024,0,0,0,1,0,0,329,89,0.03,0,27.987935
3,2.257484e+05,11.72,1976,-122.314870,47.653039,John M Wallace Hall,2830.568604,152.284591,0,0,0,1,0,0,164,179,0.06,0,26.457905
4,3.879320e+06,28.76,1999,-122.312677,47.651256,Ocean Sciences Building,10337.874230,556.177634,0,0,0,1,0,0,252,54,0.02,0,26.452933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,1.530269e+04,32.71,1909,-122.303675,47.653711,Power Plant,16236.378600,873.517169,0,0,0,1,0,0,529,179,0.03,0,28.012560
117,0.000000e+00,19.04,1895,-122.309281,47.660345,Jacobsen Observatory,199.462741,10.731095,0,0,0,1,0,0,56,180,0.28,34,24.177153
118,0.000000e+00,20.71,1940,-122.308112,47.660715,Hughes Penthouse,1426.432662,76.742077,0,0,0,1,0,0,114,27,0.08,14,25.199452
119,0.000000e+00,47.21,1963,-122.302941,47.660131,NPL Van De Graaff,3451.160644,185.672443,0,0,0,1,0,0,333,32,0.10,16,25.007835
120,1.414895e+05,24.88,1969,-122.304502,47.654633,Engineering Library,3767.123747,202.671258,0,0,0,1,0,0,106,24,0.03,13,27.197077

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Energy_Use_kWh                121 non-null    float64
 1   Height                        121 non-null    float64
 2   Year_Built                    121 non-null    int64
 3   Longitude                     121 non-null    float64
 4   Latitude                      121 non-null    float64
 5   Name                          121 non-null    object
 6   Area_m                        121 non-null    float64
 7   Occupants                     121 non-null    float64
 8   apartments                    121 non-null    int64
 9   parking                       121 non-null    int64
 10  stadium                       121 non-null    int64
 11  university                    121 non-null    int64
 12  utility                       121 non-null    int64
 13  warehouse                     121 non-null    int64
 14  Building_Length_m             121 non-null    int64
 15  Orientation (degrees north)   121 non-null    int64
 16  Relative Compactness          121 non-null    float64
 17  Tree_Canopy                   121 non-null    int64
 18  Land_Surface_Temp             121 non-null    float64
dtypes: float64(8), int64(10), object(1)
memory usage: 18.1+ KB

---
### Exploring the data 

These question asks you to explore the dataset we will be using. Answer the following three sentences by writing code to compute the described values in the given variables names.

## Q 2.1) Exploring the data

1. Lets start by looking at the dataframe column names.
2. How many buildings do we have in our data set? This should correspond to the number of rows in the dataset. Save the number of rows in a variable called `num_rows`.
3. Which column are we trying to predict given the other features (i.e. what's our output `y`)? Save the column values in a variable called `y`. Hint: its the first column name. 
4. How many inputs do we have in total in the data set (i.e. what is the size of our input `x`)? Save the number of inputs in a variable called `num_inputs`. Lets use the `shape` built in function.

In [60]:
# 2.1.1

###TODO

In [61]:
#2.1.2 

###TODO

In [62]:
#2.1.3 

####TODO

## Q 2.2) What is the average height of buildings built after 2000?

Compute the average height of buildings built after 2000. Save the result in `avg_height_new_build`.

In [63]:
#2.2

###TODO

## Q 2.3) What is the average height of buildings built before 2000?

Compute the average height of buildings built before 2000. Save the result in `avg_height_old_build`.

In [64]:
#2.3 

###TODO

## Q 2.4) Are buildings getting taller or shorter? 
Justify your responce by comparing the answers to 2.2 and 2.3

In [65]:
#2.4  

###TODO

---
# Training Linear Regression Models

## Q 2.5) Training a Linear Regression Model.

We will now train a linear regression model to make useful predictions. Work through the steps below and then answer the following questions. Even though a lot of the code is pre-written, you should understand what it is doing!

### First we split the data into a training set and a test set.

In [66]:
from sklearn.model_selection import train_test_split

# Split data into 80% train and 20% test

train_data, test_data = train_test_split(df , test_size=0.2)

For this problem, we will look at using two sets of features derived from the data inputs. The basic set of features only contains a few data inputs while the advanced features contain them and more.

### THIS IS VERY SIMILAR TO THE REGRESSION NOTEBOOK WE WORKED ON IN CLASS

### We will create a linear model together to predict building energy consumption given a small amount of features.

In [67]:
df.columns

Index(['Energy_Use_kWh', 'Height', 'Year_Built', 'Longitude', 'Latitude',
       'Name', 'Area_m', 'Occupants', 'apartments', 'parking', 'stadium',
       'university', 'utility', 'warehouse', 'Building_Length_m',
       'Orientation (degrees north) ', 'Relative Compactness', 'Tree_Canopy',
       'Land_Surface_Temp'],
      dtype='object')

### Lets define the basic features model

In [68]:
basic_features = ['Area_m','Occupants', ]

### Now we will train the basic model

In [69]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

#basic model
y_basic= train_data['Energy_Use_kWh']
x_basic= train_data[basic_features]
regr = linear_model.LinearRegression()

basic_model= regr.fit(x_basic, y_basic)
basic_model

basic_model.coef_

array([  1150.70564966, -31080.95654172])

### Now we will make predictions with the model we trained

In [70]:
basic_model_Y_train = basic_model.predict(train_data[basic_features])
basic_model_Y_train

train_data['basic']= basic_model_Y_train

### Now, we will evaluate the basic model predictions to see how they perform.

---
### Root Mean Square Error (RMSE) of trained predictors


Use the basic model you trained in last section to predict what it thinks the values for the data points should be. You can look at the documentation from the `LinearRegression` model to see how to make predictions. 

The RMSE is another commonly reported metric used for regression models. The RMSE is similar to RSS but is modified slightly to scale the number down. The RMSE is defined as $$RMSE = \sqrt{\frac{1}{n}RSS}$$

where the thing inside the square root is refered to as the Mean Square Error (MSE). You will also need to use the `mean_squared_error` function from sklearn (documentation [here](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error)) which you'll have to import as well.

### Lets look at the RMSE for the basic model for the TRAINING errors

In [71]:
from sklearn.metrics import mean_squared_error

train_rmse_basic = mean_squared_error(train_data['Energy_Use_kWh'], train_data['basic'], squared=False)
train_rmse_basic

39488331.16690736

### Now we will make predictions with the model we are TESTING

In [72]:
basic_model_Y_test = basic_model.predict(test_data[basic_features])
basic_model_Y_test

test_data['basic']= basic_model_Y_test

### Lets look at the RMSE for the basic model for the TESTING errors

In [73]:
test_rmse_basic = mean_squared_error(test_data['Energy_Use_kWh'], test_data['basic'], squared=False)
test_rmse_basic

14275254.7645856

## Now create an advanced model that performs BETTER than the basic model (and has a lower test RMSE 

1. First you will want to define the columns you want to examine and save these as advanced_features
2. Then you will want to train the advanced_features model 
3. Then you will make predictions with the advanced model you trained using the TRANING dataset
4. Then you will look at the RMSE for the advanced_model TRAINING errors
5. Then you will make predictions with the advanced model you trained using the TRANING dataset
6. Then you will look at the RMSE for the advanced_model TESTING errors

### 1. First you will want to define the columns you want to examine and save these as advanced_features

In [74]:
## TODO

### 2. Then you will want to train the advanced_features model

In [75]:
## TODO

### 3. Then you will make predictions with the advanced model you trained using the TRANING dataset

In [76]:
## TODO

### 4. Then you will look at the RMSE for the advanced_model TRAINING errors

In [77]:
## TODO

### 5. Then you will make predictions with the advanced model you trained using the TRANING dataset

In [78]:
## TODO

### 6. Then you will look at the RMSE for the advanced_model TESTING errors

In [79]:
## TODO

## Q 2.6) Reflection 

1. Which features did you include in your advanced model? 
2. How did you choose them? 
3. Please report your TESTING RMSE of your advanced model. Make sure this is lower than the TESTING RMSE of the basic model (7999288.5).

In [80]:
# 1. Which features did you include in your advanced model? 

## TODO

In [81]:
# 2. How did you choose them? 

## TODO

In [82]:
# 3. Please report your TESTING RMSE of your advanced model. 
# Make sure this is lower than the TESTING RMSE of the basic model (7999288.5). 

## TODO