<h1><center>UW STEMsub ML Homework 1 </center></h1>
<center><b>Instructor:</b> Amanda Worthy</center>
<center><b>Date:</b> July 8th, 2024</center>
<center><b>Edited by Amanda Worthy from material by:</b> Anne Wagner and Ronak Mehta</center>

# Homework 1 will explore... 

    a. bigfoot sightings 
    b. building energy consumption data on the UW campus

In [ ]:
# Conventionally people rename the pandas import to pd for brevity
import pandas as pd

## Part 1: We will explore bigfoot sightings, plotting, correlation, and summary statistics ('BigFoot.csv')

### Exploring the data 

These question asks you to explore the dataset we will be using. Answer the following three sentences by writing code to compute the described values in the given variables names.

## Q 1.1) Exploring the data: Bigfoot Sightings questions 

1.1 How does the number of sightings vary by month or season?

1.2 What time of day do most sightings occur?

1.3 Where do most sightings occur?

1.4 Does temperature seem to have any effect on sightings? If so, what is the correlation coefficient?

In [ ]:
#1.1

## TODO

In [ ]:
#1.2

## TODO

In [12]:
#1.3

## TODO

In [ ]:
##1.4 

## TODO

## Part 2: We will explore regression using the energy consumption dataset ('UW_building_energy.csv')

In [13]:
# Load in the data and preview it

#use pd.read_csv('') and .head on the imported dataset 

df= pd.read_csv('UW_building_energy.csv')  

df.head()

,Total__Annual_Energye_Use__kWh,Height,yearbuilt,XCoord,YCoord,facname,Area (m),Occupants,apartments,parking,stadium,university,utility,warehouse,Length (m),Orientation (degrees north),Relative Compactness,Tree_Canopy,Land_Surface_Temp
0,1.370845e+06,21.38,1966,-122.312915,47.649894,Marine Sciences,5534.231710,297.741666,0,0,0,1,0,0,146,47,0.03,0,25.048282
1,1.609484e+06,21.16,1969,-122.312300,47.650258,Ocean Teach Building,4789.335456,257.666247,0,0,0,1,0,0,163,143,0.03,21,26.473881
2,2.460280e+06,24.35,1999,-122.316275,47.653158,Fishery Sciences,12105.911220,651.298024,0,0,0,1,0,0,329,89,0.03,0,27.987935
3,2.257484e+05,11.72,1976,-122.314870,47.653039,John M Wallace Hall,2830.568604,152.284591,0,0,0,1,0,0,164,179,0.06,0,26.457905
4,3.879320e+06,28.76,1999,-122.312677,47.651256,Ocean Sciences Building,10337.874230,556.177634,0,0,0,1,0,0,252,54,0.02,0,26.452933

---
### Exploring the data 

These question asks you to explore the dataset we will be using. Answer the following three sentences by writing code to compute the described values in the given variables names.

## Q 2.1) Exploring the data

1. Lets start by looking at the dataframe column names.
2. How many buildings do we have in our data set? This should correspond to the number of rows in the dataset. Save the number of rows in a variable called `num_rows`.
3. Which column are we trying to predict given the other features (i.e. what's our output `y`)? Save the column values in a variable called `y`. Hint: its the first column name. 
4. How many inputs do we have in total in the data set (i.e. what is the size of our input `x`)? Save the number of inputs in a variable called `num_inputs`. Lets use the `shape` built in function.

In [14]:
# 2.1.1

###TODO

In [15]:
#2.1.2 

###TODO

In [16]:
#2.1.3 

####TODO

## Q 2.2) What is the average height of buildings built after 2000?

Compute the average height of buildings built after 2000. Save the result in `avg_height_new_build`.

In [17]:
#2.2

###TODO

## Q 2.3) What is the average height of buildings built before 2000?

Compute the average height of buildings built before 2000. Save the result in `avg_height_old_build`.

In [18]:
#2.3 

###TODO

---
# Training Linear Regression Models

## Q 2.4) Training a Linear Regression Model.

We will now train a linear regression model to make useful predictions. Work through the steps below and then answer the following questions. Even though a lot of the code is pre-written, you should understand what it is doing! You may be asked to write some of this code on future assignments.

First we split the data into a training set and a test set.

In [20]:
from sklearn.model_selection import train_test_split

# Split data into 80% train and 20% test


#train_data, test_data = train_test_split(---replace_data_frame_here--- , test_size=0.2)

For this problem, we will look at using two sets of features derived from the data inputs. The basic set of features only contains a few data inputs while the advanced features contain them and more.

##